.container-fluid
  .row.justify-content-md-center
    .trainer-card.col-sm-10
      - if trainer
        .col-sm-4
          .trainerid
            = "Trainer ID: #{current_trainer.id}"
          .trainerpic
            = image_tag("#{current_trainer.gender.downcase}.png", :alt => current_trainer.gender)
          .trainername
            = current_trainer.name


      .trainer-card-left.col-sm-8
        .trainer-pokemon
          - link = trainer ? true : false

          - ['one', 'two', 'three', 'four', 'five', 'six'].each do |num|
            .slot.col-sm-3{class: "slot#{num}", data: {slot: num}}
              - if card && card["pokemon_#{num}"]
                = render partial: "layouts/display_pokemon", locals: {pokemon: Pokemon.find_by_pid(card["pokemon_#{num}"]), link: true}
      
        .trainer-pokemon-info
          - if edit
            = "First select a slot above. Then click on a Pokemon to assign it to that slot."
      
      - if edit
        .trainer-card-right.col-sm-4
          .search-title
            = "Search for you Pokemon"
          .pokemon-search
            = render partial: "layouts/pokemon_entry", locals: {pokemons: pokemons}
          .info
            = "Scroll"