= form_for @trainer_card do |f|
  - if @trainer_card.errors.any?
    #error_explanation
      %h2= "#{pluralize(@trainer_card.errors.count, "error")} prohibited this trainer_card from being saved:"
      %ul
        - @trainer_card.errors.full_messages.each do |msg|
          %li= msg
          
  .field
    = f.hidden_field :trainer_id, value: @current_trainer.id

    = f.hidden_field :pokemon_one

    = f.hidden_field :pokemon_two

    = f.hidden_field :pokemon_three

    = f.hidden_field :pokemon_four

    = f.hidden_field :pokemon_five

    = f.hidden_field :pokemon_six

  .container-fluid
    .row.justify-content-md-center
      .trainer-card.col-sm-10
        .trainer-card-left.col-sm-8
          .trainer-pokemon
            .slot.slotone.col-sm-3.active{data: {slot: "one"}}
            .slot.slottwo.col-sm-3{data: {slot: "two"}}
            .slot.slotthree.col-sm-3{data: {slot: "three"}}

            .slot.slotfour.col-sm-3{data: {slot: "four"}}
            .slot.slotfive.col-sm-3{data: {slot: "five"}}
            .slot.slotsix.col-sm-3{data: {slot: "six"}}
          
          .trainer-pokemon-info
            = "First select a slot above. Then click on a Pokemon to assign it to that slot."

        .trainer-card-right.col-sm-4
          .search-title
            = "Search for you Pokemon"
          .pokemon-search
            = render partial: "layouts/pokemon_entry", locals: {pokemons: @pokemons, link: false}
          .info
            = "Scroll"


  
  .actions
    = f.submit 'Save', class: "submit-card"
