= render partial: "card", locals: {pokemons: @pokemons, edit: false, 
                                  trainer: true, current_trainer: @current_trainer, card: @trainer_card}

.controls

  - if @trainer_card
    = link_to 'Edit', edit_trainer_card_path(@trainer_card)
    \|
  = link_to 'Back', pokemons_path()
