%h1 Listing trainer_cards

%table
  %thead
    %tr
      %th Trainer
      %th Pokemon one
      %th Pokemon two
      %th Pokemon three
      %th Pokemon four
      %th Pokemon five
      %th Pokemon six
      %th
      %th
      %th

  %tbody
    - @trainer_cards.each do |trainer_card|
      %tr
        %td= trainer_card.trainer_id
        %td= trainer_card.pokemon_one
        %td= trainer_card.pokemon_two
        %td= trainer_card.pokemon_three
        %td= trainer_card.pokemon_four
        %td= trainer_card.pokemon_five
        %td= trainer_card.pokemon_six
        %td= link_to 'Show', trainer_card
        %td= link_to 'Edit', edit_trainer_card_path(trainer_card)
        %td= link_to 'Destroy', trainer_card, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Trainer card', new_trainer_card_path
