.container.splash-header
  %h1.pokemon= "PoKéMoN"

.container.splash-presentation
  .center-on-page
    .pokeball
      .pokeball-button
    .pokeball_shadow

.container.splash-info
  %h1.pokemon= "League Registration"

  = link_to "Sign in", new_trainer_session_path()
  |
  = link_to "Register", new_trainer_registration_path()