= form_for :pokemon, url: {action: "update_create_pokemon"} do |f|
  %h2 collect

  %p= " For a single pokemon you can enter its name or pokemon id "

  %p= " This text box also excepts a comma separated list "

  %p= " Or you can do a range: 1..151 (recommended for starting out with) "
  
  = f.text_field :collection
  = f.submit
