.pokemon.show
  .pokemon-sprite
    = image_tag(@pokemon.sprite, :alt => "#{@pokemon.name} (#{@pokemon.pid})")
  .pokemon-name
    = @pokemon.name.capitalize
  .pokemon-types
    - mtone = MoveType.find_by_tid(@pokemon.typeone)
    .typeone= mtone.name.capitalize
    - if @pokemon.typetwo
      - mttwo = MoveType.find_by_tid(@pokemon.typetwo)
      .typetwo= mttwo.name.capitalize
  .pokemon-info
    .info.weight
      = "Weight: #{@pokemon.weight}"
    .info.height
      = "Height: #{@pokemon.height}"
    .info.base_exp
      = "Base Exp: #{@pokemon.base_experience}"


= link_to 'Edit', edit_pokemon_path(@pokemon)
|
= link_to 'Back', pokemons_path
