@font-face 
    font-family: "Pokemon Hallow"
    src: url(/assets/PokemonHollow.ttf) format("truetype")
  
@font-face 
    font-family: "Pokemon Solid"
    src: url(/assets/PokemonSolid.ttf) format("truetype")

@font-face 
    font-family: "Pokemon GB"
    font-style: normal
    font-weight: normal
    src: url("https://dl.dropboxusercontent.com/u/10822923/Pokemon_GB/Pokemon_GB.ttf") format("truetype")

h1.pokemon, h1.pokemon.navbar-brand 
    color: yellow
    font-family: "Pokemon Solid"
    margin: 0 auto
    text-align: center
    text-shadow: -5px 0 #2985d1, -3px 4px #2985d1, 2px 0 #2985d1, 0 4px #2985d1

h2.pokemon 
    color: blue
    font-family: "Pokemon Hallow"
    text-shadow: -1px 0 #2985d1, 0 2px #2985d1, 2px 0 #2985d1, 0 -1px #2985d1

.speech 
    background: white
    border: 1px solid white
    border-radius: 2px
    box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px rgb(48, 18, 18), 0 0 0 1px black, inset 0 0 0 1px black
    font-family: "Pokemon GB", Arial, sans-serif
    font-size: 14px    
    height: auto
    line-height: 16px
    margin: auto
    min-height: 100px
    padding: 8px
    position: relative
    width: 350px
    display: none

    &.one 
        display: block
    
    .finish-reg 
        bottom: 10px
        position: absolute
        width: 95%

.speech > i 
    border: 5px solid transparent
    border-top-color: black
    bottom: 10px
    float: right
    height: 0
    margin-top: 23px
    position: absolute
    right: 10px
    width: 0

.da-prof 
    text-align: center

.abutton 
    background: #ccc
    border-radius: 100%
    box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px #ddd, 0 0 0 1px #ddd, inset 0 0 0 1px black
    cursor: pointer
    margin-left: 65%
    padding: 1%
    text-align: center
    width: 4%

.pokemon.entry 
    padding: 0
    text-align: center

    img
        width: 100%

.navbar h1.pokemon.navbar-brand 
    font-size: 24px

.nav.navbar-nav
    width: 80%

    .trainer-nav
        width: 25%
        .divider
            margin-top: 7%