/* Animation */
@keyframes blink
    from
        background: #eee
    to
        background: #e74c3c

@keyframes shake
    0%    
        transform: translate(0, 0) rotate(0) 
    20%   
        transform: translate(-10px, 0) rotate(-20deg) 
    30%   
        transform: translate(10px, 0) rotate(20deg) 
    50%   
        transform: translate(-10px, 0) rotate(-10deg) 
    60%   
        transform: translate(10px, 0) rotate(10deg) 
    100%  
        transform: translate(0, 0) rotate(0) 

@keyframes fall
    0%    
        top: -200px 
    60%   
        top: 0 
    80%   
        top: -20px 
    100%  
        top: 0 

@keyframes grow
    0%    
        width: 0 
    60%   
        width: 150px 
    80%   
        width: 75px 
    100%  
        width: 150px 

@keyframes wiggle
    0%    
        width: 130px 
    20%   
        width: 150px 
    30%   
        width: 130px 
    50%   
        width: 150px 
    60%   
        width: 130px 
    100%  
        width: 150px 

/* Pokeball styles */
.pokeball 
    animation:  fall .25s ease-in-out, shake 1.25s cubic-bezier(.36,.07,.19,.97) 3
    background: #fff
    border: 10px solid #000
    border-radius: 50%
    box-shadow: inset -10px 10px 0 10px #ccc
    height: 200px
    overflow: hidden
    position: relative
    width: 200px
    z-index: 1

    &:after, &:before 
        content: ""
        position: absolute
    
    &:after
        background: #000
        height: 20px
        top: calc(50% - 10px)
        width: 100%

    &:before 
        background: red
        height: 50%
        width: 100%

    .pokeball-button
        animation: blink .5s alternate 7
        background: #7f8c8d
        border: 10px solid #fff
        border-radius: 50%
        box-shadow: 0 0 0 10px black
        height: 60px
        left: calc(50% - 30px)
        position: absolute
        top: calc(50% - 30px)
        width: 60px
        z-index: 10

.pokeball_shadow 
    background: #ccc
    border-radius: 100%
    bottom: -6px
    height: 20px
    position: absolute
    left: 80px
    width: 150px
    z-index: 0
    animation:  grow .25s ease-in-out, wiggle 1.25s cubic-bezier(.36,.07,.19,.97) 3