.pokemon.show
    margin: 0 auto
    width: 50%

    .pokemon-sprite 
        text-align: center
        img
            width: 200px
    
    .pokemon-name
        text-align: center
    
    .pokemon-types
        text-align: center
        
        .typeone, .typetwo
            display: inline-block
            text-align: center
            width: 30%
    
    .pokemon-info
        .info
            display: inline-block
            text-align: center
            width: 32.33%
