body 
    background: #ecf0f1

h1.pokemon 
    font-size: 55px
    letter-spacing: 5px
    
.splash-header 
    display: block
    padding: 3%

.splash-presentation 
    display: block
    min-height: 250px
    position: relative

    .center-on-page 
        position: absolute
        top: 35%
        left: 50%
        min-height: 200px
        transform: translate(-50%,-50%)
    
.splash-info 
    h1
        margin-bottom: 2%
    display: block
    text-align: center