.trainer-pokemon 
    width: 100%

    .slot 
        border: 1px solid #ccc
        display: block
        float: left
        margin-bottom: 2%
        margin-right: 2%
        min-height: 165px
        width: 30%

        .pokemon.entry
            width: 100%

    
.trainer-pokemon-info 
    display: block
    width: 100%

.trainer-card
    background-color: white
    border: 1px solid #ccc
    border-radius: 10px
    height: 400px
    margin: 0 auto
    margin-left: 10%
    overflow: hidden
    padding: 2%
    text-align: center
    
    .slot.active
        border: 1px solid green

    .trainerpic img
        width: 130px

    .trainer-card-right
        .search-title
            border-bottom: 1px solid #ccc
        .pokemon-search
            height: 320px
            overflow-x: scroll
        .info
            border-top: 1px solid #ccc 

input.submit-card
    margin: 0 auto
    margin-left: 30%
    margin-top: 2%
    text-align: center
    width: 40%

.controls
    text-align: center

.pokemon-search .pokemon.entry
    &:hover
        background-color: #c1e3ef70
        cursor: pointer