.pokemon.entry.col-sm-4{data: {id: pokemon.pid}}
    - if link 
        = link_to pokemon_path(pokemon.pid) do
            .sprite= image_tag(pokemon.sprite, :alt => "#{pokemon.name} (#{pokemon.pid})")
            .pokemon-name= pokemon.name.capitalize!
    - else 
        .sprite= image_tag(pokemon.sprite, :alt => "#{pokemon.name} (#{pokemon.pid})")
        .pokemon-name= pokemon.name.capitalize!