- if trainer_signed_in?
  .row
    .col-sm-12
      %nav.navbar.navbar-default
        .container
          %h1.pokemon.navbar-brand= "Pokémon"
          #navbarNav.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.nav-item.nav-link= link_to "Pokémon", pokemons_path()
              %li.nav-item.nav-link= link_to "Collect", collect_pokemons_path()
              - if current_trainer.email != "profoak@gmail.com"
                %li.nav-item.nav-link= link_to "Trainer Card", trainers_card_path(current_trainer.id)
              %ul.nav.navbar-nav.trainer-nav.pull-right
                - if current_trainer
                  %li= link_to "Hello #{current_trainer.name}", edit_trainer_registration_path()
                  %li.divider= "|"
                  %li= link_to 'Sign out', destroy_trainer_session_path, method: :delete
