%html
%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title Pokedex
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
%body
  = render partial: "layouts/nav_bar"

  .container
    - if notice
      %p.notice= notice
    - if alert
      %p.alert= alert

    = yield


