.container.splash-header
  %h1.pokemon Registion

.container.splash-presentation
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    
    .da-prof= image_tag("prof_oak")

    .speech.one{ data: {next: "two"} }
      = "Hello, there! Glad to meet you. And welcome to the world of Pokemon!"
      %i

    .speech.two{ data: {next: "three"} }
      = "My name is Professor Oak."
      %i

    .speech.three{ data: {next: "four"} }
      = "Congratulations on collecting all eight Gym Badges!"
      %i

    .speech.four{ data: {next: "five"} }
      = "You now qualify to register for the Pokemon League!"
      %i

    .speech.five{ data: {next: "six"} }
      = "Before we can get you registered, tell me alittle about your self"
      %i

    .speech.six{ data: {next: "seven"} }
      = "Tell me, Are you a Boy? Or a Girl?"
      // GENDER FORM GOES HERE!
      .field
        = f.label :gender
        %br/
        = f.select :gender, [ 'Boy', 'Girl' ] 
      %i

    .speech.seven{ data: {next: "eight"} }
      = "Lets begin with your name. What is it?"
      // NAME FORM GOES HERE!
      .field
        = f.label :name
        %br/
        = f.text_field :name, autofocus: true, autocomplete: "off"
      %i

    .speech.eight{ data: {next: "nine"} }
      = "Right! So your name is "
      %i

    .speech.nine{ data: {next: "ten"} }
      = "In order to register we also need an email address."
      // EMAIL FORM GOES HERE!
      .field
        = f.label :email
        %br/
        = f.email_field :email, autocomplete: "email"
      %i

    .speech.ten{ data: {next: "eleven"} }
      = "You'll also need a Password in order to access your account in the future."
      // PASSWORD FORM
      .field
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off"
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
      %i

    .speech.eleven
      = "A world of dreams and adventures with Pokemon awaits! Let's go!"

      .actions
        = f.submit "Click to Register", class: "finish-reg"
    
    .abutton= "A"


.container-splash-info.controls
  = render "trainers/shared/links"
  = link_to "back", unauthenticated_root_path()
